body {
  font-family: "Inter";
  text-transform: uppercase;
  color: #6e6893;
}
.container {
  max-width: 792px;
  max-height: 823px;
  padding: 0;
  margin: 0;
}

input,
textarea,
.form {
  display: flex;
  justify-content: center;
  background-color: #f2f0f9;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset {
  width: 580px;
  min-height: 620px;
  box-sizing: border-box;
  padding: 28px;
  margin-bottom: 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 #00000033;
}

.form__input {
  max-width: 100%;
  width: 100%;
  min-height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.form__title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 24px;
  letter-spacing: 6px;
}

.form__input-name {
  font-size: 12px;
}

.form__description {
  min-height: 112px;
}

.btn-add {
  width: 200px;
  height: 39px;
  float: right;
  margin-right: 28px;
  font-family: inherit;
  text-transform: inherit;
  color: #fff;
  background-color: #6D5BD0;
  border: none;
  border-radius: 6px;
}

.form__discount-input:disabled {
  background-color: #EEEEEE;
}
