@font-face {
    font-family: Lato;
    src: local("lato-bold"), local("lato bold"),
        url(fonts/lato-bold.woff) format("woff"),
        url(fonts/lato-bold.woff2) format("woff2");
        font-weight: 700;
        font-display: swap;
}

@font-face {
    font-family: Lato;
    src: local("lato-regular"), local("lato regular")
        url(fonts/lato-regular.woff) format("woff"),
        url(fonts/lato-regular.woff2) format("woff2");
        font-weight: 400;
        font-display: swap;
}
